message_handlers.py
config_file.py
*.xlsx
*.db
Секреты ЛК.mp4
как перейти в профиль студента.mp4
stepik.py
boltun.txt
Модераторская инструкция.pdf
Пользовательская инструкция.pdf
Instrukciya_dlya_obuchayushchihsya.pdf
регистрация.mp4
chat_gpt.txt
excel_additional.py
test_for_excel.py
google_key.json
*.docx
information.txt
venv
/__pycache__